@model EmployeeViewModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Employee Details:</p>

<form asp-action="AboutSave">
    <div>
        <label asp-for="Name"></label>
        @Html.EditorFor(m => m.Name)
    </div>
    <div>
        <label asp-for="PhoneName"></label>
        @Html.EditorFor(m => m.PhoneName)
    </div>
    <button type="submit">Absenden</button>
</form>